<nav>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center" class="navbar-header">
      <a href="#" class="navbar-brand">Autosalone Trinaware</a>
    </div>

    <div class="nav-links">
      <a mat-button [routerLink]="['/login']">Login</a>
      <a mat-button [routerLink]="['']">Sign Up</a>
    </div>

    <div fxFlexAlign="center end" class="dropdown">
      <button mat-menu-item [matMenuTriggerFor]="menu">Altre sedi</button>
      <mat-menu #menu="matMenu">
        <!-- routes da implementare attraverso i dati presi dal service -->
        <button mat-menu-item [routerLink]="['/sedi/id/:nomeSede']">{{ nomeSede1 }}</button>
        <button mat-menu-item>{{ nomeSede2 }}</button>
        <button mat-menu-item>{{ nomeSede3 }}</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</nav>
